.simpleModal {
  position: absolute;
  width: 30%;
  min-width: 30rem;
  background-color: var(--main-bg-color);
  border: 2px solid #000;
  padding: 2rem 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
